@use "../../styles/variable" as *;

.careerArticle {
  .careerList {
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        height: 16px;
      }

      .textBox {
        display: flex;
        align-items: center;
        gap: 8px;

        hr {
          width: 1px;
          height: 16px;
          background: $Gray1;
        }

        .companyBox {
          display: flex;
          gap: 4px;

          .companyName {
            font-weight: 700;
          }
        }

        .termsBox {
          display: flex;
          gap: 4px;
          font-size: 14px;
          color: $Gray2;
        }
      }
    }
  }
}
