@use "../../styles/variable" as *;

.profileArea {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .profImgCont {
    display: flex;
    gap: 16px;

    .profImgBox {
      display: flex;
      align-items: center;
      height: 116px;

      .profImg {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    .infoBox {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .nickname {
        font-size: 28px;
        font-weight: 500;
      }

      .profMsg {
        width: 400px;
        height: 80px;
        font-size: 16px;
        color: $Gray2;
      }
    }
  }

  .utilCont {
    display: flex;
    gap: 8px;

    .msgBtn {
      width: 110px;
      height: 26px;
      font-size: 14px;
      border: 1px solid $Gray1;
      border-radius: 4px;

      &:hover {
        color: $Blue3;
        border-color: $Blue3;
      }
    }

    .urlList {
      display: flex;
      gap: 8px;

      li {
        .linkBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $Gray2;

          &:hover {
            color: $Primary1;
          }

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
