@use "../../../styles/variable" as *;

.searchPopup {
  width: 100%;
  min-height: 100px;
  padding: 12px 4px 12px 12px;
  background: #fff;
  border: 2px solid $White2;
  border-top: none;
  border-radius: 0 0 4px 4px;
  top: 32px;
  position: absolute;
  z-index: 60;

  .valueList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 160px;
    overflow-y: scroll;
    padding: 0 8px 0 0;

    li {
      display: flex;
      flex-direction: column;
      gap: 4px;
      min-width: 240px;
      max-width: 320px;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: $HoverBlue;
      }

      .name {
        padding: 4px;
        border-radius: 4px;
        color: $Gray2;
        background: $Blue1;
      }

      .desc {
        font-size: 12px;
      }
    }
  }
}

@include mobile {
  .searchPopup {
    .valueList {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
