@use "../../../styles/variable" as *;

.qnaPosts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow-y: scroll;
  padding: 40px;
  background: #f8faff;

  .questionSec {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;

    .topBar {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 0 12px;

      .titleBox {
        .title {
        }
      }

      .infoBox {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
        font-size: 12px;
        color: $Gray1;

        span {
          display: flex;
          gap: 2px;
        }
      }
    }

    .contArea {
      display: flex;
      gap: 16px;
      padding: 12px 0;
      border-top: 1px solid $White2;

      .utilBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        p {
          font-size: 20px;
          line-height: 20px;
          color: $Gray1;
        }

        button {
          display: flex;
          align-items: center;

          &:hover {
            svg {
              color: $Primary1;
            }
          }
        }
      }

      .contCont {
        flex: 1;

        .quillBox {
          min-height: 172px;
        }

        .tagBar {
          display: flex;
          gap: 4px;
          padding: 24px 0 0;

          .tagList {
            padding: 4px;
            font-size: 10px;
            color: $Blue3;
            background: $Blue1;
            border-radius: 4px;
          }
        }

        .utilBar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 12px;
          padding: 12px 0 0;

          .btnBox {
            display: flex;
            align-items: center;
            gap: 12px;

            button {
              display: flex;
              align-items: center;
              font-size: 12px;
            }
          }

          .profBox {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 4px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background: $Blue1;
            }

            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
              border-radius: 50%;
            }

            .name {
              font-size: 12px;
            }
          }
        }
      }
    }

    .replyArea {
      border-top: 1px solid $White2;

      .replyList {
        li {
          display: flex;
          gap: 6px;
          padding: 6px 0;
          font-size: 12px;
          border-bottom: 1px solid $White2;

          .utilBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;
            text-align: center;

            p {
              line-height: 12px;
              color: $Gray1;
            }

            button {
              display: flex;
              align-items: center;

              &:hover {
                svg {
                  color: $Primary1;
                }
              }

              svg {
                height: 12px;
              }
            }
          }

          .contBox {
            display: flex;
            gap: 4px;

            .name {
              color: $Blue3;
            }

            .updatedAt {
              color: $Gray1;
            }
          }
        }
      }
    }
  }
}
