@import "../colors.scss";

.forum {
  padding: 100px 0 0 250px;
  height: 100vh;

  .innerSec {
    display: flex;
    gap: 62px;
    height: 100%;
    padding: 50px 60px;

    .settingArea {
      display: flex;
      flex-direction: column;
      width: 544px;

      .titleBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;

        .contTitle {
          font-size: 24px;
          font-weight: 700;
        }

        .addBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          height: 44px;
          padding: 0 22px;
          border: 1px solid $Black2;
          border-radius: 10px;

          p {
            font-weight: 500;
            color: $Black2;
          }
        }
      }

      .toggleCont {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 0 28px;
        margin: 20px 0 0;
        border: 1px solid $Gray3;
        box-shadow: 0px 4px 6px 3px #f5f7fa;
        border-radius: 8px;

        .topBar {
          display: flex;
          align-items: center;
          gap: 8px;
          height: 74px;
          padding: 0 28px;

          h3 {
            font-size: 20px;
            font-weight: 700;

            &.key {
            }

            &.value {
              color: $Primary1;
            }
          }
        }

        .contBox {
          flex: 1;
          overflow-y: scroll;
          border-top: 1px solid $Gray3;
          border-bottom: 1px solid $Gray3;

          &::-webkit-scrollbar {
            width: 28px;
            border-left: 1px solid $Gray3;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $Gray3;
            border: 8px solid transparent;
            border-radius: 42px;
            background-clip: padding-box;
          }

          .contList {
            display: flex;
            flex-direction: column;

            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 48px;
              padding: 0 16px 0 20px;
              color: #222;
              background: #fff;
              border-bottom: 1px solid $Gray2;
              border-radius: 4px;
              overflow: hidden;
              cursor: pointer;
              position: relative;

              &:last-of-type {
                border-bottom: none;
              }

              &.on {
                background: $White2;

                .onStroke {
                  display: block;
                }

                p {
                  font-weight: 700;
                  color: $Primary1;
                }
              }

              &.disable {
                color: $Gray1;
                background: $Gray2;
                cursor: not-allowed;
                
                .disableText {
                  font-size: 14px;
                }
              }

              .onStroke {
                display: none;
                width: 4px;
                background: $Primary1;
                top: 0;
                bottom: 0;
                left: 0;
                position: absolute;
              }

              .hamburger {
                width: 20px;
              }
            }
          }
        }
      }

      .count {
        margin: 16px 0 0;
        font-size: 14px;
        font-weight: 300;
        text-align: end;
        color: #999;
      }
    }

    .detailArea {
      flex: 1;
      max-width: 890px;
    }
  }
}
