$Primary1: #f44c66;
$Primary2: #f796a5;
$HoverRed: #ffeded;
$HoverBlue: #f7fbfc;
$ErrorColor: #f55050;

$Black1: #1a202c;

$Gray1: #b2b2b2;
$Gray2: #6e6d7a;

$White2: #e8ebee;

$Blue1: #ecf9ff;
$Blue2: #90aacb;
$Blue3: #6096b4;
