@import "./colors.scss";
@import "./reset.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: unset;
  color: inherit;
}

body {
  font-size: 16px;
  color: $Black1;
}

button {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  font-size: inherit;
  color: inherit;
  background: unset;
  outline: none;
  user-select: auto;
  border: unset;

  &::placeholder {
    color: #9f9f9f;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.defaultPopup {
  background: #fff;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);
}

*:disabled {
  cursor: not-allowed;
}

.quill {
  &.errorBox {
    .ql-toolbar {
      &.ql-snow {
        border-color: $ErrorColor;
      }
    }

    .ql-container {
      &.ql-snow {
        border-color: $ErrorColor;
      }
    }
  }

  .ql-toolbar {
    border-radius: 4px 4px 0 0;
  }

  .ql-container {
    max-height: 460px;
    overflow-y: scroll;
    border-radius: 0 0 4px 4px;

    .ql-editor {
      min-height: 200px;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &.readOnlyQuill {
    .ql-container {
      min-height: unset;
      border: none;

      .ql-editor {
        min-height: unset;
        padding: 0;
      }

      .ql-clipboard {
        display: none;
      }
    }
  }
}
