@use "../../../styles/variable" as *;

.profile {
  @include defaultMain;

  .innerSec {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;
  }
}

@include mobile {
  .profile {
    padding: 16px;

    .innerSec {
      gap: 32px;
    }
  }
}
