@use "../../../styles/variable" as *;

.profile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  overflow-y: scroll;
  background: #f8faff;

  .innerSec {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;
  }
}
