@import "@/styles/colors.scss";

.defaultHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 24px;
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  .leftArea {
    .logo {
      h1 {
        font-size: 28px;
        font-family: inherit;
      }
    }
  }

  .rightArea {
    .profBox {
      .avatarBox {
        position: relative;

        .avatarBtn {
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          font-size: 40px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .authBox {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        font-weight: 500;

        &.signInBtn {
          color: $Gray1;
        }

        &.loginBtn {
          padding: 10px 16px;
          color: #fff;
          background: $Primary1;
          border-radius: 8px;
        }
      }
    }
  }
}
