@import "@/styles/colors.scss";

.emaipAuthPopup {
  width: 420px;
  max-width: calc(100vw - 24px);

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid $White2;

    .title {
      font-size: 20px;
      font-weight: 500;
    }

    .closeBtn {
      display: flex;
      align-items: center;
    }
  }

  .contArea {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;

    .explainCont {
      h2 {
        text-align: center;
      }
    }

    .actionCont {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .alarm {
        text-align: center;
        line-height: 20px;
        color: $ErrorColor;
      }

      .actionBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;

        .actionBtn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2px;
          width: 100%;
          height: 50px;
          padding: 0 16px;
          font-weight: 500;
          color: #fff;
          background: $Primary1;
          border-radius: 8px;
          overflow: hidden;

          p {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .resendbtn {
          display: flex;
          justify-items: center;
          align-items: center;
          gap: 4px;
          color: $Gray1;
        }
      }
    }
  }
}
