@use "../../styles/variable" as *;

.defaultHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0 24px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  position: fixed;
  background: #fff;
  box-shadow: 0px 4px 13px 2px #e3e5ec;

  .leftArea {
    .logo {
      h1 {
        font-size: 28px;
        font-family: inherit;
      }
    }
  }

  .rightArea {
    .profBox {
      .avatarBox {
        position: relative;

        .avatarBtn {
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          font-size: 40px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .authBox {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: $Gray2;

        &.signInBtn {
        }

        &.loginBtn {
          padding: 6px 16px;
          background: $White2;
          border-radius: 8px;
        }
      }
    }
  }
}
