@use "../styles/variable" as *;

.layoutCont {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 52px 0 0;

  .contBox {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
