@use "../../styles/variable" as *;

.addCommentCont {
  padding: 12px 0;

  .ruleList {
    margin: 0 0 8px;
    
    li {
      font-size: 12px;
      color: $Gray1;
    }
  }

  .commentForm {
    display: flex;
    gap: 12px;

    .inputBox {
      flex: 1;
      @include inputBox;
    }

    .addBtn {
      padding: 4px 8px;
      border-radius: 4px;
      color: #fff;
      background: $Blue3;
    }
  }

  .commentModeBtn {
    font-size: 12px;
    color: $Gray1;
  }
}
