@use "../../styles/variable" as *;

.loginPopup {
  width: 420px;

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid $White2;

    .title {
      font-size: 20px;
      font-weight: 500;
    }

    .closeBtn {
      display: flex;
      align-items: center;
    }
  }

  .contArea {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;

    .hrBox {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 500;
      color: $Gray2;

      hr {
        flex: 1;
        height: 1px;
        background: $White2;
        border: none;
      }
    }

    .formBox {
      .errorText {
        color: $ErrorColor;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .inputList {
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .inputBox {
              @include inputBox;
            }
          }
        }
      }

      .loginBox {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .errorText {
          text-align: center;
        }

        .loginBtn {
          width: 100%;
          height: 40px;
          font-weight: 500;
          color: #fff;
          background: $Primary1;
          border-radius: 8px;
        }
      }
    }

    .socialBox {
      .socialList {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          &.kakao {
            button {
              color: rgba(0, 0, 0, 0.85);
              background: #fee500;
            }
          }

          &.github {
            button {
              color: #fff;
              background: #333;
            }
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            height: 40px;
            border-radius: 8px;

            svg {
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}
