@use "../../styles/variable" as *;

.qna {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  overflow-y: scroll;
  background: #f8faff;

  .questionSec {
    width: 100%;
    max-width: 690px;
    padding: 0 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;

    .topArea {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 54px;

      .askBtn {
        @include askBtn;
      }
    }

    .listArea {
      .qnaList {
        border-top: 1px solid $White2;
        border-bottom: 1px solid $White2;

        & > li {
          display: flex;
          gap: 10px;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background: $HoverBlue;
          }

          &:nth-of-type(n + 2) {
            border-top: 1px solid $White2;
          }

          .utilList {
            min-width: 80px;

            li {
              display: flex;
              gap: 4px;
              font-size: 12px;
              line-height: 20px;

              .key {
                width: 36px;
              }

              .value {
                flex: 1;
              }
            }
          }

          .contBox {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;
            overflow: hidden;

            .textBox {
              display: flex;
              flex-direction: column;
              gap: 2px;

              .title {
                line-height: 20px;
              }

              .content {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                font-size: 12px;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
              }
            }

            .bottomBar {
              display: flex;
              align-items: center;
              gap: 10px;

              .tagList {
                flex: 1;
                display: flex;
                gap: 4px;
                overflow: hidden;

                li {
                  padding: 4px;
                  font-size: 10px;
                  color: $Blue3;
                  background: $Blue1;
                  border-radius: 4px;
                }
              }

              .updatedAt {
                font-size: 12px;
                text-align: end;
                color: $Gray2;
              }
            }
          }
        }
      }
    }
  }

  .aside {
    width: 320px;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;

    details {
      &:nth-of-type(n + 2) {
        border-top: 1px solid $Blue1;
      }

      summary {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 12px;
        cursor: pointer;
      }

      .valueBox {
        max-height: 180px;
        overflow-y: scroll;
        background: $HoverBlue;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1.95px 2.6px inset;

        .valueList {
          li {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 0 12px;
            cursor: pointer;

            &:hover {
              background: $Blue1;
            }

            &:nth-of-type(n + 2) {
              border-top: 1px solid $White3;
            }

            p {
              flex: 1;
              font-size: 14px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .delBtn {
              display: flex;
              align-items: center;

              &:hover {
                svg {
                  color: $Blue2;
                }
              }

              svg {
                height: 20px;
                color: $Gray2;
              }
            }
          }
        }

        .nullBox {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 44px;
          font-size: 12px;
          color: $Gray2;
        }
      }
    }
  }
}

@include mobile {
  .qna {
    padding: 12px;

    .aside {
      display: none;
    }
  }
}

@keyframes openFrame {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 180px;
  }
}

details {
  &[open] {
    .valueBox {
      animation: openFrame 0.4s ease-in-out;
    }
  }
}
