@use "../../styles/variable" as *;

.qna {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  overflow-y: scroll;
  background: #f8faff;

  .questionSec {
    width: 100%;
    max-width: 690px;
    padding: 0 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;

    .topArea {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 54px;

      .askBtn {
        padding: 4px 8px;
        border-radius: 4px;
        color: #fff;
        background: $Primary1;
      }
    }

    .listArea {
      .qnaList {
        border-top: 1px solid $White2;
        border-bottom: 1px solid $White2;

        & > li {
          display: flex;
          gap: 10px;
          padding: 10px;
          cursor: pointer;

          &:hover{
            background: $HoverBlue;
          }

          &:nth-of-type(n + 2) {
            border-top: 1px solid $White2;
          }

          .utilList {
            min-width: 80px;

            li {
              display: flex;
              gap: 4px;
              font-size: 12px;
              line-height: 20px;

              .key {
                width: 36px;
              }

              .value {
                flex: 1;
              }
            }
          }

          .contBox {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;
            overflow: hidden;

            .textBox {
              display: flex;
              flex-direction: column;
              gap: 2px;

              .title {
                line-height: 20px;
              }

              .content {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                font-size: 12px;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
              }
            }

            .bottomBar {
              display: flex;
              align-items: center;
              gap: 10px;

              .tagList {
                flex: 1;
                display: flex;
                gap: 4px;
                overflow: hidden;

                li {
                  padding: 4px;
                  font-size: 10px;
                  color: $Blue3;
                  background: $Blue1;
                  border-radius: 4px;
                }
              }

              .updatedAt {
                font-size: 12px;
                text-align: end;
                color: $Gray1;
              }
            }
          }
        }
      }
    }
  }

  .aside {
    width: 320px;
    height: 400px;
    padding: 0 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 2px #e3e5ec;
  }
}
